{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
